*.pyc
*.vcf
*.o
*.txt
*.tsv
*.docx
*.pptx
*.log
*.list
*.temp
.idea/
leiden.egg-info
.metadata/
leiden/resources/
leiden/resources
leiden_overlay/processing/resources
leiden_overlay/processing/resources/
hgvs-master/
